*
{
    font-family: Arial, Helvetica, sans-serif;
}

h1.name
{
    text-align: center;
}

h3.contact
{
    text-align: center;
}

table
{
    padding-left: 425px;
    text-align: left;
}

th.section
{
    vertical-align: top;
}

th.info
{
    vertical-align: top;
    padding-left: 100px;
}

th.info2
{
    vertical-align: top;
    padding-left: 88px;
}